<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">


    <!-- auto-config  用security的自动配置
   	 auto-config="true"
     -->
     <http pattern="/favicon.ico" security="none"></http>
     <http pattern="/shoplogin.html" security="none"></http>
     <http pattern="/register.html" security="none"></http>
     <http pattern="/error.html" security="none"></http>
     <!-- 不拦截登录的样式 -->
     <http pattern="/css/**" security="none"></http>
     <http pattern="/img/**" security="none"></http>
     <http pattern="/js/**" security="none"></http>
     <http pattern="/plugins/**" security="none"></http>
     <http pattern="/assets/**" security="none"></http>
     <http pattern="/seller/add.do" security="none"></http>
     
	<http use-expressions="false" >
			<!-- use-expressions="false"  默认值是true 使用的是sqel表达式
				这个时候access="haseRole('ROLE_USER')"
				pattern   /*  只能访问一层目录    /**   访问当前目录，以及所有的子目录    /admin/*
			-->
	       <intercept-url pattern="/**" access="ROLE_SELLER"/>
	       <form-login login-page="/shoplogin.html" default-target-url="/admin/index.html"
	       authentication-failure-url="/error.html"/>
	       <!-- 如果登录失败不会加载错误 -->
	       <csrf disabled="true"/>
	       <logout logout-success-url="/shoplogin.html" delete-cookies="true" invalidate-session="true"/>
	       <headers>
	      		<frame-options policy="SAMEORIGIN"/>
	       </headers>
	</http>
	
	
	<!-- sellerService  -->
	<dubbo:application name="youlexuan-manager-web"/>
	<dubbo:registry protocol="zookeeper" address="10.10.84.201:2181"/>	
	<dubbo:reference interface="com.offcn.service.SellerService" id="sellerService" />
	
	<!-- 让security进行md5的加密 -->
	<beans:bean id="md5PasswordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"></beans:bean>
	
	<beans:bean id="userDetailService" class="com.offcn.service.UserDetailServiceImpl">
		<beans:property name="serllerService" ref="sellerService"></beans:property>
	</beans:bean>
	<!-- 认证管理  -->
       <authentication-manager>
              <authentication-provider user-service-ref="userDetailService">
              	<password-encoder ref="md5PasswordEncoder"></password-encoder>
              </authentication-provider>
       </authentication-manager>
</beans:beans>
